.DS_Store
/iso/*
!/iso/README.md
/output-parallels/
/output-parallels-iso/
/output-parallels-pvm/
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/*.box
/packer_cache/
*.log
*~
*.swp
/output/
*.webm
tmp
/issues/
*.iso
path-to.vmx
packer
